<header>

    <nav class="responsive-menu">
        <a href="#" class="toggle-menu" data-toggle-class="active" data-toggle-target=".main-menu, this"><svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M4 10h24c1.104 0 2-.896 2-2s-.896-2-2-2H4c-1.104 0-2 .896-2 2s.896 2 2 2zm24 4H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2zm0 8H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2z" fill="#fff"/></svg><span>МЕНЮ</span></a>

        <ul class="main-menu">
            <li><a href="#" onclick="javascript:viewer.loadScene('sky');"><span>Главная</span></a></li>
             <li><a href="#"><span>Обзорные виды</span></a>
                <ul class="sub-menu">
                    <li><a href="#" onclick="javascript:viewer.loadScene('parking');"><span>Парковка</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('centr_pl');"><span>Центральная площадь</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('cottedgi');"><span>Коттеджи</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('ozero');"><span>Лесное озеро</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('ozero2');"><span>Второе лесное озеро</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('apt');"><span>Апартаменты</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('dalni_dvor');"><span>Ярморочная площадь</span></a></li>
                </ul>
            </li>
            <li><a href="#"><span>Корпуса</span></a>
                <ul class="sub-menu">
                    <li><a href="#" onclick="javascript:viewer.loadScene('first_corp');"><span>Корпус 1</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('second_corp');"><span>Корпус 2</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('congress_hall');"><span>Конгресс холл</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('restoran');"><span>Ресторан</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('bath');"><span>Бани</span></a></li>
                </ul>
            </li>
            <li><a href="#"><span>Номера</span></a>
                <ul class="sub-menu">
                    <li><a href="#" onclick="javascript:viewer.loadScene('3215');"><span>Стандарт</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('4303');"><span>Стандарт</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('4124');"><span>Стандарт с балконом</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('1316');"><span>Семейный</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('3205');"><span>Люкс</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('3204');"><span>Люкс "Панорамный"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('1200_gost');"><span>Люкс "Аквамарин"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('1101');"><span>Люкс "Бирюза"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('1202');"><span>Люкс "Аметист"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('2205');"><span>Люкс "Жемчуг"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('2201');"><span>Люкс "Турмалин"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('2102');"><span>Люкс "Коралл"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('2101');"><span>Люкс "Топаз"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('2200');"><span>Апартаменты "Гелиодор"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('51');"><span>Апартаменты "Studio"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('42');"><span>Апартаменты "Junior"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('35');"><span>Апартаменты "Superior"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('9');"><span>Апартаменты "Mini"</span></a></li>
                    <li><a href="#" onclick="javascript:viewer.loadScene('33');"><span>Апартаменты "Premium"</span></a></li>
                </ul>
            </li>
            <!-- <li><a href="#"><span>Фотографии</span></a></li>
            <li><a href="#"><span>Контакты</span></a></li> -->
        </ul>
    </nav>

    </header>
