<nav id="primary_nav_wrap">
    <ul>
      <li class="current-menu-item"><a href="#">Начало тура</a></li>
      <li><a href="#">Обзорные виды</a>
        <ul>
          <li><a javascript:void(0);" onclick="javascript:viewer.loadScene('apt');">Апартаменты</a></li>
          <li><a href="#">Парковка</a></li>
          <li><a href="#">Концертная площадь</a></li>
          <li><a href="#">Лесное озеро</a></li>
          <li><a href="#">Котеджи</a></li>
        </ul>
      </li>
      <li><a href="#">Корпуса</a>
        <ul>
            <li><a href="#">Корпус 1</a></li>
            <li><a href="#">Корпус 2</a></li>
            <li><a href="#">Конгресс-холл</a></li>
            <li><a href="#">Ресторан</a></li>
        </ul>
      </li>
      <li><a href="#">Номера</a>
        <ul>
          <li><a href="#">Отель</a>
            <ul>
              <li><a href="#">Стандарт</a></li>
              <li><a href="#">Президентские апартаменты</a></li>
              <li><a href="#">Студио</a></li>
              <li><a href="#">Люксы именные</a></li>
              <li><a href="#">Эконом</a></li>
              <li><a href="#">Семейный номер</a></li>
            </ul>
          </li>
          <li><a href="#">Корпус Коверши</a>
            <ul>
              <li><a href="#">Апартаменты MINI</a></li>
              <li><a href="#">Апартаменты Studio</a></li>
              <li><a href="#">Апартаменты Junior</a></li>
              <li><a href="#">Апартаменты Superior</a></li>
              <li><a href="#">Апартаменты Premium</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#" id="myImg">Фотографии</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
</nav>