<% var
pageTitle = "Toppage";
pageId = "index";
pageUrl = "";
pageDescription = "Awesome site";
%>
<% include _header %>
<% include _nav %>
<div id="panorama"></div>
<script>
    viewer = pannellum.viewer('panorama', {
        "default": {
          "firstScene": "sky",
        //   "author": "Ivan Storchack",
          "sceneFadeDuration": 1000
        },
        "scenes": {
          "sky":{
            "title": "home",
            "type": "equirectangular",
            "panorama": "/images/pano/index.jpg",
            "haov": 360,
            "vaov": 180,
            "autoLoad": true,
            "autoRotate": -0.5,
            "pitch": -35,
            "yaw": -250,
            "hfov": 120,
            "hotSpotDebug": true,
            "hotSpots": [
                    {
                        "pitch": -30,
                        "yaw": -178,
                        "type": "scene",
                        "text": "Концертная площадь",
                        "sceneId": "dalni_dvor",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -22,
                        "yaw": 159,
                        "type": "scene",
                        "text": "Ресторан",
                        "sceneId": "restoran"
                    },
                    {
                        "pitch": -19,
                        "yaw": 137,
                        "type": "scene",
                        "text": "Вид на корпус 2",
                        "sceneId": "second_corp"
                    },
                    {
                        "pitch": -12,
                        "yaw": 120,
                        "type": "scene",
                        "text": "Вид на корпус 1",
                        "sceneId": "first_corp"
                    },
                    {
                        "pitch": -9,
                        "yaw": 125,
                        "type": "scene",
                        "text": "Вид на Конгресс-холл",
                        "sceneId": "congress_hall"
                    },
                    {
                        "pitch": -5,
                        "yaw": 119,
                        "type": "scene",
                        "text": "Вид на лесное озеро 1",
                        "sceneId": "ozero"
                    },
                    {
                        "pitch": -6,
                        "yaw": 131,
                        "type": "scene",
                        "text": "Вид на лесное озеро 2",
                        "sceneId": "ozero2"
                    },
                    {
                        "pitch": -4,
                        "yaw": 108,
                        "type": "scene",
                        "text": "Вид на парковку",
                        "sceneId": "parking"
                    },
                    {
                        "pitch": -8,
                        "yaw": 91,
                        "type": "scene",
                        "text": "Вид на котеджи",
                        "sceneId": "cottedgi"
                    },
                    {
                        "pitch": -8,
                        "yaw": 59,
                        "type": "scene",
                        "text": "Вид на апартаменты",
                        "sceneId": "apt"
                    },
                    {
                        "pitch": -14,
                        "yaw": 107,
                        "text": "Вид на пляж",
                        "type": "info",
                        "cssClass": "photo_hotspot",
                        "clickHandlerFunc": function() {
                            openModal();
                            currentSlide(1);
                        }
                    }
                ]
          },
          "apt": {
            "title": "Вид на апартаменты",
            "type": "equirectangular",
            "panorama": "/images/pano/apt.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
            // "hotSpotDebug": true,
          },
          "cottedgi": {
            "title": "Вид на апартаменты",
            "type": "equirectangular",
            "panorama": "/images/pano/cottedgi.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "parking": {
            "title": "Вид на парковку",
            "type": "equirectangular",
            "panorama": "/images/pano/parking.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "ozero": {
            "title": "Вид на озеро",
            "type": "equirectangular",
            "panorama": "/images/pano/ozero.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "ozero2": {
            "title": "Вид на озеро2",
            "type": "equirectangular",
            "panorama": "/images/pano/ozero2.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "congress_hall": {
            "title": "Вид на конгрес-холл",
            "type": "equirectangular",
            "panorama": "/images/pano/congress_hall.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "first_corp": {
            "title": "Вид на корпус 1",
            "type": "equirectangular",
            "panorama": "/images/pano/first_corp.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "second_corp": {
            "title": "Вид на корпус 2",
            "type": "equirectangular",
            "panorama": "/images/pano/second_corp.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "restoran": {
            "title": "Вид на ресторан",
            "type": "equirectangular",
            "panorama": "/images/pano/restoran.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "dalni_dvor": {
            "title": "Вид на концертную площадь",
            "type": "equirectangular",
            "panorama": "/images/pano/dalni_dvor.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          }
        }
    
    });
    </script>
<% include _images %>
<% include _footer %>