<% var
pageTitle = "Яхонты";
pageId = "index";
pageUrl = "";
pageDescription = "VR тур Яхонты Ногинск";
%>
<% include _header %>
<% include _menu %>
<div id="panorama"></div>
<script>
    viewer = pannellum.viewer('panorama', {
        "default": {
          "firstScene": "odnoet_cott_gostinnaia",
        //   "author": "Ivan Storchack",
          "sceneFadeDuration": 1000
        },
        "scenes": {
          "sky":{
            "title": "Яхонты",
            "type": "equirectangular",
            "panorama": "/images/pano/index.jpg",
            "haov": 360,
            "vaov": 180,
            "autoLoad": true,
            "autoRotate": -0.5,
            "pitch": -35,
            "yaw": -250,
            "hfov": 120,
            "hotSpotDebug": true,
            "hotSpots": [
                    {
                        "pitch": -30,
                        "yaw": -178,
                        "type": "scene",
                        "text": "Концертная площадь",
                        "sceneId": "dalni_dvor",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -22,
                        "yaw": 159,
                        "type": "scene",
                        "text": "Ресторан",
                        "sceneId": "restoran",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -19,
                        "yaw": 137,
                        "type": "scene",
                        "text": "Вид на корпус 2",
                        "sceneId": "second_corp",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -12,
                        "yaw": 120,
                        "type": "scene",
                        "text": "Вид на корпус 1",
                        "sceneId": "first_corp",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -9,
                        "yaw": 125,
                        "type": "scene",
                        "text": "Вид на Конгресс-холл",
                        "sceneId": "congress_hall",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -5,
                        "yaw": 119,
                        "type": "scene",
                        "text": "Вид на лесное озеро 1",
                        "sceneId": "ozero",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -6,
                        "yaw": 131,
                        "type": "scene",
                        "text": "Вид на лесное озеро 2",
                        "sceneId": "ozero2",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -4,
                        "yaw": 108,
                        "type": "scene",
                        "text": "Вид на парковку",
                        "sceneId": "parking",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -8,
                        "yaw": 91,
                        "type": "scene",
                        "text": "Вид на котеджи",
                        "sceneId": "cottedgi",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -8,
                        "yaw": 59,
                        "type": "scene",
                        "text": "Вид на коттеджи",
                        "sceneId": "apt",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -14,
                        "yaw": 107,
                        "text": "Вид на пляж",
                        "type": "info",
                        "cssClass": "photo_hotspot",
                        "clickHandlerFunc": function() {
                            openModal();
                            currentSlide(1);
                        }
                    },
                    {
                        "pitch": -13,
                        "yaw": 70,
                        "text": "Вид на футбольное поле",
                        "type": "info",
                        "cssClass": "photo_hotspot",
                        "clickHandlerFunc": function() {
                            openModal();
                            currentSlide(1);
                        }
                    },
                    {
                        "pitch": -17,
                        "yaw": 58,
                        "text": "Вид на пляж 2",
                        "type": "info",
                        "cssClass": "photo_hotspot",
                        "clickHandlerFunc": function() {
                            openModal();
                            currentSlide(1);
                        }
                    },
                    {
                        "pitch": -17,
                        "yaw": 44,
                        "text": "Вид на двор зоопарка",
                        "type": "info",
                        "cssClass": "photo_hotspot",
                        "clickHandlerFunc": function() {
                            openModal();
                            currentSlide(1);
                        }
                    },
                    {
                        "pitch": -17,
                        "yaw": 33,
                        "text": "Вид на фасад зоопарка",
                        "type": "info",
                        "cssClass": "photo_hotspot",
                        "clickHandlerFunc": function() {
                            openModal();
                            currentSlide(1);
                        }
                    },
                    {
                        "pitch": -22,
                        "yaw": 174,
                        "text": "Вид на бахус хол",
                        "type": "info",
                        "cssClass": "photo_hotspot",
                        "clickHandlerFunc": function() {
                            open_img2();
                        }
                    },
                    {
                        "pitch": -50,
                        "yaw": -173,
                        "text": "Прокат лодок",
                        "type": "info",
                        "cssClass": "photo_hotspot",
                        "clickHandlerFunc": function() {
                            open_img1();
                        }
                    },
                ]
          },
          "apt": {
            "title": "Вид на апартаменты",
            "type": "equirectangular",
            "panorama": "/images/pano/apt.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "cottedgi": {
            "title": "Вид на коттеджи",
            "type": "equirectangular",
            "panorama": "/images/pano/cottedgi.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true,
            "hotSpotDebug": true,
            "hotSpots": [
                    {
                        "pitch": -13,
                        "yaw": 117,
                        "type": "scene",
                        "text": "Одноетажный коттедж",
                        "sceneId": "odnoet_cott",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -18,
                        "yaw": 148,
                        "type": "scene",
                        "text": "Двухэтажный коттедж",
                        "sceneId": "dvuxet_cott",
                        "cssClass": "pan_hotspot"
                    },
            ]
          },
          "odnoet_cott": {
            "title": "Одноетажный коттедж",
            "type": "equirectangular",
            "panorama": "/images/cott/1et_holl.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true,
            "hotSpotDebug": true,
            "hotSpots": [
                    {
                        "pitch": -12,
                        "yaw": -125,
                        "type": "scene",
                        "text": "Гостинная",
                        "sceneId": "odnoet_cott_gostinnaia",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -5,
                        "yaw": -46,
                        "type": "scene",
                        "text": "Спальня",
                        "sceneId": "odnoet_cott_spalna",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -8,
                        "yaw": -34,
                        "type": "scene",
                        "text": "Туалет",
                        "sceneId": "odnoet_cott_toilet",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -8,
                        "yaw": 120,
                        "type": "scene",
                        "text": "Обзорный вид на коттеджи",
                        "sceneId": "cottedgi",
                        "cssClass": "pan_hotspot"
                    },
            ]
          },
          "odnoet_cott_gostinnaia": {
            "title": "Гостинная",
            "type": "equirectangular",
            "panorama": "/images/cott/1et_gostinnaia.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true,
            "hotSpotDebug": true,
            "hotSpots": [
                    {
                        "pitch": -9,
                        "yaw": 167,
                        "type": "scene",
                        "text": "Холл",
                        "sceneId": "odnoet_cott",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -3,
                        "yaw": 58,
                        "text": "Балкон",
                        "type": "info",
                        "cssClass": "photo_hotspot",
                        "clickHandlerFunc": function() {
                            open_img1();
                        }
                    },
            ]
          },
          "odnoet_cott_spalna": {
            "title": "Спальня",
            "type": "equirectangular",
            "panorama": "/images/cott/1et_spalna.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true,
            "hotSpotDebug": true,
            "hotSpots": [
                    {
                        "pitch": -3,
                        "yaw": 119,
                        "type": "scene",
                        "text": "Холл",
                        "sceneId": "odnoet_cott",
                        "cssClass": "pan_hotspot"
                    }
            ]
          },
          "odnoet_cott_toilet": {
            "title": "Туалет",
            "type": "equirectangular",
            "panorama": "/images/cott/1et_toilet.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true,
            "hotSpotDebug": true,
            "hotSpots": [
                    {
                        "pitch": -11,
                        "yaw": -4,
                        "type": "scene",
                        "text": "Холл",
                        "sceneId": "odnoet_cott",
                        "cssClass": "pan_hotspot"
                    }
            ]
          },


          "dvuxet_cott": {
            "title": "Двухэтажный коттедж",
            "type": "equirectangular",
            "panorama": "/images/pano/cottedgi.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },

          "parking": {
            "title": "Вид на парковку",
            "type": "equirectangular",
            "panorama": "/images/pano/parking.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "ozero": {
            "title": "Вид на озеро",
            "type": "equirectangular",
            "panorama": "/images/pano/ozero.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "ozero2": {
            "title": "Вид на озеро2",
            "type": "equirectangular",
            "panorama": "/images/pano/ozero2.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "congress_hall": {
            "title": "Вид на конгрес-холл",
            "type": "equirectangular",
            "panorama": "/images/pano/congress_hall.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true,
            "hotSpots": [
                    {
                        "pitch": 0.6,
                        "yaw": 0.3,
                        "type": "scene",
                        "text": "Конгресс-холл",
                        "sceneId": "congress_hall_1etash",
                        "cssClass": ""
                    },
            ]
          },
          "congress_hall_1etash": {
            "title": "Конгрес-холл",
            "type": "equirectangular",
            "panorama": "/images/congress_hotel/cong_holl_holl.jpg",
            "hotSpotDebug": true,
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true,
            "hotSpots": [
                    {
                        "pitch": -4,
                        "yaw": -19,
                        "type": "scene",
                        "text": "Ресторан",
                        "sceneId": "congress_hall_resto",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -6,
                        "yaw": 91,
                        "type": "scene",
                        "text": "Конференц зал",
                        "sceneId": "congress_hall_hall",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -2,
                        "yaw": 26,
                        "text": "Боулинг",
                        "type": "info",
                        "cssClass": "photo_hotspot",
                        "clickHandlerFunc": function() {
                            openModal();
                            currentSlide(1);
                        }
                    },

            ]
          },
          "congress_hall_resto": {
            "title": "Ресторан",
            "type": "equirectangular",
            "panorama": "/images/congress_hotel/cong_resto.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true,
            "hotSpots": [
                    {
                        "pitch": -3,
                        "yaw": 156,
                        "type": "scene",
                        "text": "Выход",
                        "sceneId": "congress_hall_1etash",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": -3,
                        "yaw": 58,
                        "type": "scene",
                        "text": "Боулинг",
                        "sceneId": "bouling",
                        "cssClass": "photo_hotspot"
                    }
            ]
          },
          "congress_hall_hall": {
            "title": "Конференц зал",
            "type": "equirectangular",
            "panorama": "/images/congress_hotel/cong_conf.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true,
            "hotSpotDebug": true,
            "hotSpots": [
                    {
                        "pitch": -1,
                        "yaw": 178,
                        "type": "scene",
                        "text": "Выход",
                        "sceneId": "congress_hall_1etash",
                        "cssClass": "pan_hotspot"
                    },
            ]
          },
          "first_corp": {
            "title": "Вид на корпус 1",
            "type": "equirectangular",
            "panorama": "/images/pano/first_corp.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true,
            "hotSpotDebug": true,
            "hotSpots": [
                    {
                        "pitch": 0,
                        "yaw": -37,
                        "type": "scene",
                        "text": "1202",
                        "sceneId": "1202",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": 5,
                        "yaw": -37,
                        "type": "scene",
                        "text": "1306",
                        "sceneId": "1306",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": 10,
                        "yaw": -37,
                        "type": "scene",
                        "text": "1202_2",
                        "sceneId": "1202_2",
                        "cssClass": "pan_hotspot"
                    },
                    {
                        "pitch": 15,
                        "yaw": -37,
                        "type": "scene",
                        "text": "1202_3",
                        "sceneId": "1202_3",
                        "cssClass": "pan_hotspot"
                    },
            ]
          },
          "second_corp": {
            "title": "Вид на корпус 2",
            "type": "equirectangular",
            "panorama": "/images/pano/second_corp.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "restoran": {
            "title": "Вид на ресторан",
            "type": "equirectangular",
            "panorama": "/images/pano/restoran.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          },
          "dalni_dvor": {
            "title": "Вид на концертную площадь",
            "type": "equirectangular",
            "panorama": "/images/pano/dalni_dvor.jpg",
            "haov": 360,
            "vaov": 180,
            "hfov": 120,
            "autoLoad": true
          }
        }
    
    });
    </script>

<% include _footer %>